<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>study of technology</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="shortcut icon" href="static/image/a5.jpg" type="image/x-icon">
</head>
<body>
   
    <div class="container">
        <video autoplay loop muted play-infinite>
            <source src="static/image/sot-background.mp4" type="video/mp4">
        </video>
        
        <img src="static/image/a5.jpg" class="a5">
        <div class="nav">
            <a href="home.html">home</a>
            <a href="course.html">course details</a>
            <a href="free.html">free trail course</a>
            <a href="about.html ">about us</a>
            <a href="profile.html ">Profile</a>
        </div>
    
        <div class="ban"><h1>study of technology</h1></div>
    </div>
    <p>learing for new features in technical course.our website provide 2 free session 
         for new user please log in and learing for your future.</p>
        
         <div class="reg">
         <a href="login.html">continue to log in</a>
        </div>
</body>
</html>
